<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SenderName" value="kazsta"/>
		<add key="SenderEmail" value="Kazimierz1sta@gmail.com"/>
		<add key="SenderEmailPassword" value="encrypt:hasłoDoMaila"/>
		<add key="ReceiverEmail" value="anetasta69@gmail.com"/>
		<add key="SendHour" value="8"/>
		<add key="IntervalInMinutes" value="1"/>
		<add key="SchallISendReport" value="true"/>
	</appSettings>
</configuration>